* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin: 0 auto;
}
.header-title {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 80px;
	margin-bottom: 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.game-over {
	font-size: 24px;
	color: red;
}
.correct-answer {
	color: green;
}
.failed-answer {
	color: red;
}
.hidden {
	display: none;
}

.li-answers {
  list-style: none;
}
.msg {
	font-size: 24px;
	color: green;
}
.statistics {
	margin-top: 50px;
}
@media all and (min-width: 768px) {
	.wrapper {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}
